@media (min-width:1560px) {
  .container {
    max-width: 1450px;
  }
}

@media (max-width:1559px) {
  .container {
    max-width: 1280px;
  }
}
		@media screen and (min-device-width: 1250px) and (max-device-width: 1366px) {
    .video-section .background-image {
						height: 40vh;
  }

  .subscribe-box {
    margin-top: 10%;
  }

  .last-section .background-image {
    height: 100% !important;
    background-position: center !important;
    background-size: 105% !important;
  }

  .logo-background-img {
    right: -10%;
  }

  .real-value-section .logo-background-img {
    left: -5% !important;
  }

  .future-box {
    width: 615px;
  }

  .leaf-image-left img {
    left: -32%;
  }


}

@media screen and (min-device-width: 1366px) and (max-device-width: 1450px) {
  .last-section .background-image {
    height: 880px !important;
    background-position: center !important;
  }

  .video-background {
    right: -18%;
  }

  .video-section .background-image {
    height: 40vh;
  }

  .subscribe-box {
    margin-top: 10%;
  }

  .real-value-section .logo-background-img {
    left: -15% !important;
  }

  .future-box {
    width: 630px;
  }

  .leaf-image-left img {
    left: -30%;
  }


}

@media screen and (min-device-width: 1650px) and (max-device-width: 2000px) {
  .video-background {
    right: -30%;
  }

  .video-section .background-image {
    height: 35vh;
  }

}


@media screen and (min-device-width: 1640px) and (max-device-width: 2000px) {

}

@media screen and (min-device-width: 300px) and (max-device-width: 992px) {
  body {
    overflow-x: hidden !important;
  }

  .isotope-img img {
	margin-bottom: 10px;
}

.isotope-gallery-section .col-4 {
	padding: 0px 5px;
}

.isotope-gallery-section {
	padding: 100px 0 100px;
}


  .navbar-toggler-icon {
  	background-image: url("../img/Menu-icon.webp") !important;

  }
  #issues li img {
  	float: unset !important;
  	margin: 0 auto !important;
  }
  .timeline-content-adjust {
	text-align: center;
}
#issues li p {
	text-align: center !important;
	color: #fff !important;
}

#issues {
  height: 100% !important;
}


  .navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 0);
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 99999;
  }
  .real-brand-logo-about img {
  	height: 150px !important;
  	top: -70%;
  	left: 0;
  	right: 0;
  	margin: 0 auto;
  }
.logo-define img {
	max-width: 100%;
	margin-top: 15px;
}
.pivot-text ul li h1 {
	font-size: 35px;
	height: 40px;
	width: 40px;
}
  .slider-video video {
	height: 100%;
  top: 0% !important;
	object-fit: cover;
}
.about-us-new-section {
	text-align: center;
}
.video-content {
	padding-left: 0px;
}
.social-media-side {
	top: 0%;
}
.slider_model .slider_list_box {
	width: 40% !important;
}
.cl-main-li {
	margin-top: 0px !important;
}
  .cl-select {
    position: absolute;
    right: 18%;
    top: 16px;
    z-index: 9;
  }

  .cl-main-li {
    padding: 0px 15px;
  }

  .main-logo {
    width: 120px;
    margin-top: 5px;
  }

  .navbar .navbar-collapse {
    background: #dadada;
    position: absolute;
    width: calc(100% + 30px);
    left: -115%;
    margin-left: -15px;
    transition: all ease 0.3s;
    height: 120vh;
    top: -25px;
    padding-top: 100px;
    z-index: 9;
  }
  .list {
	list-style: outside;
	padding-left: 25px;
}
.content ul {
	list-style: none;
}
  .navbar .show {
    left: 0%;
    transition: all ease 0.3s;
  }

  .main-navigation .navbar-nav {
    padding-left: 25px;
    width: 100%;
    float: left;
    padding-right: 25px;
  }

  .main-navigation .navbar-nav .nav-item .nav-link {
    padding: 8px 15px;
  }

  .main-heading {
    color: #fff;
    font-size: 50px;
    padding-bottom: 10px;
  }

  .sub-heading {
    color: #F78427;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
  }

  .simple-text {
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 28px;
  }

  .background-image {
    height: 100vh;
  }
  .language-dropdwon .fa-angle-down {
	top: 3px;
}
.cl-select .dropdown-menu {
	left: -150% !important;
}

  .cat-btn-list::before {
    display: none;
  }

  .main-small-heading {
    font-size: 30px !important;
    color: #2C2C2C;
    letter-spacing: 0;
    line-height: 45px;
    text-align: center;
  }
  .know-future {
	margin: 0px 0px;
}
.pivot-text ul li {
	width: 15.7%;
}
.pivot-btn-ul li {
	width: 100% !important;
  margin-bottom: 15px
}
.pivot-btn-ul::before {
	display: none;
}
.pivot-desc-text ul li {
	width: 100%;
}
#dates {
	padding-left: 0% !important;
}
  .category-content h1 {
    padding-bottom: 30px;
  }
  #dates li {
	width: 57px !important;
	height: 50px;
	font-size: 16px !important;
}
#dates .selected {
	font-size: 28px !important;
}
#issues li {
	width: 88vw !important;
}
#issues {
	padding-left: 0px !important;
}
#issues {
	height: 750px !important;
}

#issues li.selected img {
    height: 80px !important;
    margin-top: 10px !important;
    }

.about-logo-desc .content {
	text-align: center;
}
  .leaf-image img {
    display: none;
  }
  .content-list p::before {
  display: none !important;
}
.content-list p {
	left: 0px !important;
}

  .cat-btn-list .nav-link {
    margin-top: 20px;
  }

  .cat-btn-list {
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 40px !important;
    margin: 0 auto;
  }

  .video-section .background-image {
    height: 15vh;
  }



  .ceo-words {
	padding: 100px 50px;
	text-align: center;
}
.ach-section {
	padding: 100px 50px;

}

.footer-info {
	left: 0px !important;
}

  .video-background {
    background: url("../img/video-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 90%;
    width: 100%;
    position: unset;
    right: 0%;
    border-radius: 10px;
  }

  .video-box {
    height: 100%;
    width: 100%;
    margin-top: 100px;
    text-align: center;
  }

  .video-box h3 {
    padding: 25px 10px 5px 10px;
    font-size: 30px;
  }

  .video-box a {
    padding: 25px 10px 5px 10px;
  }

  .video-content {
  	text-align: center;
  	padding-top: 25px;
  }

.event-box-1 {
	text-align: center;
  margin-top: 25px;
}
.category-section .background-image {
	height: 40vh !important;
	background-position: 0% !important;
	background-size: 100% !important;
}

.last-section .background-image {
	height: 100% !important;
	background-position: top !important;
}
.subscribe-box {
	text-align: center;
	padding: 35px;
}
  .category-content {
    text-align: center;
  }

  .main-heading {
    text-align: center;
    font-size: 35px;
  }

  .banner-content {
    text-align: center;
  }

  .video-icon {
    height: 60px !important;
    width: 60px !important;
    position: absolute;
    top: 40%;
    left: 43%;
  }

  .location-box {
    background: #FFFFFF;
    box-shadow: 0 0 30px 0 #E3F3FF;
    border-radius: 35px;
    padding: 50px;
    height: auto;
    margin-bottom: 25px;
  }

  .subscribe-form {
    width: 100%;
    margin: 0 auto;
    padding-top: 15px;
  }

  .btn-green {
    margin-bottom: 20px;
  }

  .footer-bottom {
    padding: 20px;
   border-top: unset !important;
    text-align: center;
  }

  .footer-bottom .cl-select {
  	position: absolute;
  	right: 38%;
  	top: 0;
  	z-index: 9;
  }

  .video-thumb img {
    width: calc(100% + 10px);
    margin-left: -5px;
    object-fit: cover;
  }

  .footer-section {
    padding-top: 50px;
    text-align: center;
  }
  .pt-80 {
	padding-top: 40px;
}
.search-field {
	margin-top: 10px;
}

  .footer-section p {
    padding-right: 0px;
    margin-bottom: 0px;
  }
  .footer-section h6 {
	padding-bottom: 10px;
  padding-top: 25px;
}

  .location-box {
    text-align: center;
  }

  .main-navigation .nav-link.sub-menu::after {
    margin: 0 !important;
  }

  .tb-product-box {
    margin-bottom: 25px;
    text-align: center;
  }

  .product-filter .nav-link {
    margin-right: 10px;
    width: 125px;
    margin-bottom: 10px;
  }

  .bread-crumb h5 {
    text-align: center;
  }

  .product-detial-img-box {
    width: auto;
    height: auto;
    padding: 25px;
  }

  .product-detial-img-box img {
    max-width: 100%;
    height: auto;
    width: auto;
  }

  .text-breadcrumb ul {
    text-align: center;
  }

  .product-info {
    text-align: center;
  }

  .careousal-btn ul {
    text-align: center;
  }

  .section-biolife {
    text-align: center;
  }

  .content p {
    padding-right: 0px;
  }

  .about-logo {
    text-align: center;
    height: auto;
  }

  .logo-background-img {
    background: url("../img/video-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 90%;
    width: 100%;
    position: unset;
    right: 0%;
    border-radius: 10px;
    padding-top: 1px;
  }

  .logo-white-bg {
    width: calc(100% + 10px);
    margin-left: -8px;
    object-fit: cover;
  }

  .logo-white-bg img {
    height: 60px;
  }

  .about-logo h3 {
    padding: 25px 10px 25px 25px;
  }

  .real-value-section {
    height: auto;
    text-align: center;
  }

  .real-value-section .logo-white-bg {
    margin-left: -8px !important;
  }

  .real-value-section .logo-white-bg img {
    height: 150px !important;
  }

  .real-value-section h3 {
    padding: 25px 0px 25px 0px !important;
  }

  .real-value-section .text-vertical-center {
    display: flex;
    align-items: center;
    height: auto;
    margin-top: 50px;
  }

  .know-future {
    height: auto;
  }

  .future-box {
    height: auto;
    border-radius: 5px;
    width: auto;
    position: relative;
    margin-top: 80px !important;
    padding: 10px;
  }
  .fp-link {
	text-align: center;
}

.welcome-section .content {
	text-align: center;
}
.about-logo-left img {
	height: 45px !important;
	text-align: center;
	margin: 0 auto;
	display: flex;
}
.real-brand-logo-about img {
	margin-bottom: 15px;
}

  .vision-box {
    width: auto;
    height: auto;
    margin: 25px 15px;
  }

  .mt-160 {
    margin-top: 160px;
  }

  .our-values-section {
    text-align: center;
  }
  .product-btn-list {
	list-style: none;
	padding-left: 10px;
	text-align: center;
}

.product-btn-list li {
	margin-bottom: 15px;
	text-align: center;
}
.products-table-section button {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
  width: 125px;
}

  .pivot-text ul li {
    display: inline-block;
  }

  .our-values-section .cat-btn-list .nav-link {
    margin: 0 auto;
    margin-top: 40px;
  }

  .pivot-desc-text ul li {
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
  }

  .leaf-image-left {
    display: none;
  }

  .passion-section {
    width: 100%;
    float: left;
    text-align: center;
  }

  .value-creation-section {
    text-align: center;
  }

  .ownership-content {
    padding-right: 0;
    text-align: center;
    padding-top: 50px;
  }

  .trust-content {
    padding-left: 0;
    text-align: center;
  }


  .menu-show-plus {
	display: block !important;
	position: absolute;
	right: 5%;
	color: #007044;
	top: 7px;
}
.main-navigation .nav-link.sub-menu::after {
	display: none;
}
.navbar-nav .dropdown-menu {
	position: static;
	float: none;
	display: block !important;
}

.navbar-nav i {
  display: none !important;
}
.owl-nav {
  display: none !important;
}
.navbar-nav .dropdown-menu {
	padding: 10px 15px;
	background-color: transparent;
	border: unset;
	margin: -5px 0px 0px;
}
.dropdown-item {
	color: #2c2c2c;
	border: unset !important;
}
.contact-details-box .tab-content {
	padding: 15px 30px;
  text-align: center;
}
.contact-details-box .nav .nav-item a {
  margin: 5px 40px;
  padding: 10px 0px 10px;
  font-size: 15px;
  width: 80px;
}
.event-section-listing .owl-dots {
	position: relative;
	right: 0;
	bottom: 0;
	float: unset;
	left: 0px;
}.first .timeline > li > .timeline-badge {
    left: 13%;

    top: 0%;
}

.first .timeline::before {
   left: 14%;
}
.first .timeline > li > .timeline-panel {
    width: 75%;
    float: right;
    text-align: left;
    padding: 20px;
    position: relative;
}
.timeline-title {
	font-size: 25px;
	margin-top: -20px;
}
.lorem-2 {
    font-size: 25px !important;
    width: 100%;
    text-align: left;
    margin-left: 0%;
}
.timeline > li > .timeline-badge {
    left: 47%;
}
.product-listing-box {
  text-align: center;
}
.collage-image img {
	height: auto;
  margin-top: 25px;
}
.timeline > li {
	height: auto;
}
.right-side {
  padding-left: 0px !important;
}
#dates {
	padding-left: 0% !important;
}

.simple-text {
  width: 100%;
  position: relative;
  right: 0%;
  padding-right: 40px;
  padding-left: 40px;
}
}
