

html {
  scroll-behavior: smooth;
}

a:focus,
input:focus,
button:focus {
	outline: 0px;
	box-shadow: 0px 0px 0px;
}

body {
  font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
}

a:hover {
	text-decoration: none;
	color: inherit !important;
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
}

.common-container {
	width: 100%;
	padding-right: 40px;
	padding-left: 40px;
	margin-right: auto;
	margin-left: auto;
}
.background-grey {
	background: #f8f8f8;
	padding: 75px 0px !important;
	margin-top: -45px;
}

.height-auto {
	height: auto !important;
}


/* Header Css Start */

.main-navigation {
	position: fixed;
	width: 100%;
	background: #fff;
	z-index: 999;
	box-shadow: 0px 0px 5px 0 #868686;
}
.header-fixed {
	padding-bottom: 88px;
}

.main-logo {
	width: 150px;
}

.navbar-brand {
	padding: 0 !important;
}

.main-navigation .navbar-nav .nav-item .nav-link {
	padding: 0px 15px;
	font-size: 14px;
	color: #2C2C2C;
	letter-spacing: 0.1px;
	font-weight: bold;
}

.nav-item.active .nav-link {
	background: #9AD055;
	color: #fff !important;
	border-radius: 8px;
	padding: 5px 12px !important;
	font-weight: bold !important;
	margin-top: -5px;
}
.main-navigation .navbar-nav .nav-item .nav-link:hover {
	color: #2C2C2C !important;
}

.main-navigation .dropdown span {
	color: #2C2C2C;
	font-size: 10px;
}

.main-navigation .nav-item.active {
	font-weight: 600;
}

.cl-select ul {
	list-style: none;
	padding-left: 0px;
	margin-bottom: 0px;
}


.country-dropdwon .dropdown-menu {

	min-width: 13.5rem;

}

.cl-select .dropdown-toggle::after {
	display: none;
}

.dropdown-menu li {

}
.language-list li {
	display: inline-block !important;
	padding: 1.5px 5px !important;
	border-bottom: unset !important;
	float: right;
}

.language-list li a {
	text-decoration: underline;
}
.country-dropdwon img {
	height: 16px;
	margin-right: 2px;
}

.country-text {
	padding: 5px 15px;
	padding-bottom: 0px;
	font-size: 13px;
	color: #f78427;
	margin-bottom: -5px;
}
.language-list {

}

.main-navigation i {
	font-size: 15px;
	color: #535353;
	padding-left: 6px !important;
	position: relative;
	top: -3px;
}

.main-navigation .navbar-nav .nav-item .nav-link:hover i  {
    color:#2C2C2C !important;
}

.nav-item.active .nav-link i {
	color:#fff !important;
}
.country-dropdwon {
	position: relative;
}

.country-name-dropdown {
	font-size: 13px;
}

.country-dropdwon .fa-angle-down {
	font-size: 16px;
	color: #f88d2a;
	position: absolute;
	padding-left: 5px;
	top: 6px;
}

.cl-select .dropdown-menu li {
	padding: 7.5px 15px;
	border-bottom: 1px solid #eee;
}

.cl-select .dropdown-menu li:last-child {
	border: unset;
}

.dropdown-item {
	display: block !important;
	padding: 7.5px 15px;
	border-bottom: 1px solid #eee;
	font-size: 14px;
	font-weight: bold;
}

.dropdown-item:last-child {
	border-bottom: unset;
}

.cl-select .dropdown-menu {
	right: -25px;
	left: auto;
	border-color: #eee;
	top: 35px;
}

.cl-select .dropdown-menu li a {
	color: #000;
	font-size: 12px;
}

.cl-main-li {
	padding: 0px 20px;
	margin-top: 0px;
}

.language-dropdwon {}

.language-dropdwon {
	position: relative;
}

#main-navigation {
	margin-top: 8px;
}

.language-dropdwon .fa-sort-desc {
	font-size: 15px;
	color: #535353;
	position: absolute;
	padding-left: 6px;
	top: 4px;
}

.cl-select .dropdown-menu li:hover {
	background: #fafafa;
}

/*.main-navigation .nav-link.sub-menu::after {
	background: transparent;
	height: 6px;
	width: 6px;
	content: "";
	display: block;
	text-align: center;
	margin: 0 auto;
	border: 1px solid #F78427;
	border-radius: 100px;
} */
.language-dropdwon .dropdown-menu li {
border-bottom: unset;
}
.main-navigation .nav-link.sub-menu:hover::after {
	background: #F78427;
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
}


/* Banner Section */

.banner-section {
	width: 100%;
	float: left;
}

.background-image {
	height: 90vh;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
}

.background-overlay::before {
	content: '';
	position: absolute;
	height: 90vh;
	width: 100%;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 9;
	background: rgba(0,0,0,0.5);
}

.border-white-btn {
	border: 1px solid #fff;
	padding: 10px 15px;
	border-radius: 8px;
}
.border-white-btn:hover {
	border: 1px solid #F78427;
}
.real-value-overlay::before {
	position: absolute;
	content: "";
	opacity: 0.9;
	background-image: linear-gradient(197deg, #A2D45E 22%, #F28C29 96%);
	top: 0;
	width: 100%;
	height: 100%;
	left: 0;
}

.banner-content {
	position: relative;
	z-index: 9;
}
.slider-video {
	height:90vh;
}
.slider-video video {
	position: absolute;
	width: 100%;
	top: 0%;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -99;
	height: 90vh;
	object-fit: cover;
}
.banner-content {
}

.main-navigation i {
	font-size: 15px;
	color: #535353;
	padding-left: 6px !important;
	position: relative;
	top: -3px;
}

.sub-heading {
	color: #F78427;
	font-size: 18px;
	line-height: 28px;
	font-size: 20px;
	letter-spacing: 0;
}

.main-heading {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	color: #fff;
	font-size: 60px;
}
.banner-content {
	margin-top: -20px;
}
.main-small-heading {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 40px;
	color: #2C2C2C;
	letter-spacing: 0;
	line-height: 55px;
}

.call-to-action {
	color: #fff;
	font-size: 16px;
	background: #F78427;
	border-radius: 15px;
	width: 180px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.call-to-action img {
	width: auto !important;
	display: initial !important;
}

.homepage-banner .owl-dots {
	position: absolute;
	left: 0;
	right: 0;
	top: ;
	border: ;
	bottom: 25px;
}

.call-to-action:hover {
	color: #000 !important;
}

.call-to-action img {
	height: 15px;
	padding-right: 10px;
}

.simple-text {
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 32px;
	padding-bottom: 5px;
	text-align: center;
}

/* CATEGORY SECTION */

.category-section {
	width: 100%;
	float: left;
	padding-top: 100px;
	position: relative;
}

.real-value-logo img {
	height: 80px;
}


.real-value-logo {
	padding-bottom: 10px;
}

.category-content h5 {
	margin-bottom: 0px;
}

.category-content h1 {
	padding-bottom: 10px;
}

.category-content a {
	color: #2c2c2c;
}

.cat-btn-list {
	width: 170px;
	text-align: center;
	position: relative;
	margin-top: 40px !important;
	margin: 0 auto;
}

.cat-btn-list::before {
	opacity: 0.22;
	background-image: linear-gradient(152deg, #FFFFFF 6%, #9AD055 23%, #ACD873 72%, #FFFFFF 100%);
	border-radius: 30px;
	height: 650px;
	width: 5px;
	content: "";
	display: block;
	text-align: center;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	top: -100px;
	z-index: -1;
}

.cat-btn-list .nav-link {
	background: #FFFFFF;
	border: 4px dotted #F4F4F4;
	border-radius: 17px;
	font-size: 16px;
	color: #4F4F4F !important;
	letter-spacing: 0;
	margin-top: 60px;
	padding: 15px 10px;
}

.cat-btn-list .nav-link.active,
.nav-pills .show>.nav-link {
	color: #9AD055 !important;
	background-color: #fff;
	border: 2px solid #9AD055;
	box-shadow: 0 0 15px 0 #EAEAEA;
	transition: all .4s ease;
	-webkit-transition: all .3s ease;
}

.product-box {
	background: #FFFFFF;
	box-shadow: -3px 3px 42px 3px rgb(244, 243, 243);
	border-radius: 30px;
	padding: 50px;
	width: 340px;
	margin: 0 auto;
	text-align: center;
}

.product-box img {
	width: 81px !important;
	object-fit: cover;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 60px;
}

.category-section .tab-content {
	margin-top: 20px !important;
}

.product-name {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 22px;
	color: #2C2C2C;
	letter-spacing: 0;
	font-weight: 700;

}

.view-detials {
	color: #F78427;
	font-size: 16px;
}

.category-section .item {

}
.real-value-logo img {
	width: auto !important;
}

.owl-theme .owl-dots .owl-dot span {
	background: #ececec;
	height: 8px !important;
	width: 8px !important;
}

.owl-theme .owl-dots .owl-dot.active span {
	background: #9AD055 !important;
	width: 8px !important;
	margin-right: 10px;
}

.leaf-image img {
	height: 250px;
	position: absolute;
	right: 0;
	bottom: ;
	margin-top: 20%;
}

.owl-carousel {
	z-index: -1;
}


/* Video Section Start */

.video-section {
	width: 100%;
	float: left;
	padding: 100px 0px;
}

.orange-btn {
	background-image: linear-gradient(132deg, #FFA861 9%, #F78427 100%);
	box-shadow: 2px 3px 7px 0 rgba(247, 132, 39, 0.30);
	border-radius: 15px;
	padding: 18px 40px;
	color: #fff;
	text-align: center;
}





.video-background {
	background: url("../img/video-bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
	width: 740px;
	position: absolute;
	right: -10%;
	display: flex;
	align-items: center;
	border-radius: 10px;
	padding-left: 25px;
}

.video-box {
	height: 600px;
	width: 660px;
}

.video-thumb {
	position: relative;
}

.video-thumb img {
	width: 100%;
	object-fit: cover;
	margin-top: 0px;
	border-radius: 10px;
	margin-left: -0px;
}

.event-section-listing .owl-dots {
	position: absolute;
	right: 0px;
	bottom: -60px;
	float: right;
	left: 0;
}

.event-section-listing .owl-dot span {
	background: #fff !important
}

.video-icon {
	width: 60px !important;
	position: absolute;
	top: 40%;
	left: 45%;
}

.video-box h3 {
	padding: 0px 10px 5px 0px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	letter-spacing: 1px;
	font-size: 25px;
}

.video-box a {
	padding: 25px 10px 5px 1px;
}


/* Our Office Start */

.office-section {
	width: 100%;
	float: left;
}

.location-box {
	background: #FFFFFF;
	box-shadow: 0 0 30px 0 #EAEAEA;
	border-radius: 35px;
	padding: 25px;
	height: 100%;
}

.location-box img {
	height: 30px;
	margin-bottom: 20px;
}
.location-box h4 {
	font-family: 'Raleway', sans-serif;
	font-weight:600;
	font-size: 25px;
	color: #2C2C2C;
	line-height: 30px;
	margin-bottom: 0px;
	padding-bottom: 10px;
}

.location-box p {
	font-size: 15px;
	color: #4F4F4F;
	line-height: 24px;
}

.flag-image {
	margin-bottom: 0px !important;
	height: 20px !important;
	margin-top: 0px;
	border: 1px solid #eee;
	border-radius: 100px;
	margin-right: 10px;
}

.location-box span {
	font-size: 15px;
}


/* Last Section Start */

.last-section {
	width: 100%;
	float: left;
}

.subscribe-box {
	background: #FFFFFF;
	/* box-shadow: -11px 1px 20px 0 #F2F2F2; */
	border-radius: 40px;
	margin-top: 14%;
	text-align: center;
	padding: 50px;
}

.subscribe-box p {
	font-size: 16px;
	color: #F78427;
	line-height: 25px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.subscribe-box h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 40px;
	color: #2C2C2C;
	line-height: 38px;
	margin-bottom: 0px;
	padding-bottom: 25px;
	font-weight: bold;
}

.subscribe-form {
	width: 55%;
	margin: 0 auto;
	padding-top: 15px;
}

.subscribe-form input {
	background: #F8F8F8;
	border: unset;
	height: 60px;
	border-radius: 5px;
	padding-left: 20px;
}

.search-field input {
	background: #F8F8F8;
	border: unset;
	height: 60px;
	border-radius: 5px;
	padding-left: 20px;
}

.btn-green {
	background: #9AD055;
	border-radius: 5px;
	font-size: 16px;
	color: #F5F9FC;
	text-align: center;
	height: 60px;
	width: 140px;
}

.subscribe-form span {
	font-size: 16px;
	color: #4F4F4F;
	text-align: center;
	line-height: 20px;
}

.form-control:focus {
	box-shadow: unset;
	background: #eee;
}

.footer-section {
	padding-top: 100px;
	padding-bottom: 35px;
}

.footer-logo img {
	height: 30px;
}

.footer-section p {
	font-size: 14px;
	color: #2C2C2C;
	line-height: 24px;
	margin-bottom: 10px;
	padding-right: 30px;
}
.footer-info span {
	padding-left: ;
	margin-left: 5px;
}
.video-thumb iframe {
	border-radius: 8px;
}
.footer-logo {
	padding-bottom: 20px;
}

.social-icons ul {
	list-style: none;
	padding-left: 0px;
	margin-bottom: 0px;
}

.social-icons ul li {
	display: inline-block;
	padding: 10px;
}
.social-icons ul li a img {
	height: 20px;
	opacity: 1;
	border-radius: 4px;
}

.footer-section h6 {
	font-size: 17px;
	color: #000;
	margin-bottom: 0px;
	padding-bottom: 20px;
	margin-left: -15px;
	font-weight: 600;
}

.footer-section a {
	color: #2c2c2c;
	font-size: 17px;
	margin-bottom: 0px;
	padding-bottom: 20px;
	font-weight: 600;
}

.footer-links ul {
	list-style: none;
	padding-left: 0px;
	margin-bottom: 0px
}
.footer-section a:hover {
	color: #f89444 !important;
}
.footer-section .fa {
	color: #9AD055;
}

.footer-links ul li {
	display: inline-block;
	padding-right: 10px;
}

.footer-bottom {
	padding: 20px;
}

.footer-bottom li a {
	font-size: 15px;
	color: #000;
	line-height: 20px;
}

.footer-bottom li {
	font-size: 15px;
	color: #000;
	line-height: 20px;
}

.footer-bottom .country-dropdwon .fa-angle-down {
	font-size: 22px;
	color: #2c2c2c;
	position: absolute;
	padding-left: 75px;
	top: 2px;
}

.last-section .background-image {
	height: 920px !important;
	background-position: center !important;
}

.footer-dropdown-menu {
	top: auto !important;
	bottom: 40px !important;
}


/* product page */

.bread-crumb {
	width: 100%;
	float: left;
	margin-bottom: 100px;
}

.breadcrumb-image {
	background: url("../img/breadcrumb-image.png");
	height: 250px;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.breadcrumb-overlay {
	background: rgba(0, 0, 0, 0.6);
	height: 100%;
}

.text-white {
	color: #fff !important;
}

.bread-crumb h5 {
	font-size: 16px;
	line-height: 36px;
	color: #fff;
}

.products-tab-section {
	width: 100%;
	float: left;
	padding-bottom: 100px;
}

.product-filter .nav-link {
	background: #FFFFFF;
	border: 2px dotted #F4F4F4;
	border-radius: 17px;
	font-size: 16px;
	color: #4F4F4F !important;
	letter-spacing: 0;
	text-align: center;
	margin-right: 25px;
	width: 150px;
	padding: 15px 10px;
}

.product-filter .nav-link.active,
.product-filter .show>.nav-link {
	color: #9AD055 !important;
	background-color: #fff;
	border: 2px solid #9AD055;
	box-shadow: 0 0 15px 0 #EAEAEA;
	transition: all .4s ease;
	-webkit-transition: all .3s ease;
}

.product-tab-content {
	margin-top: 80px;
}

.tb-product-box .product-box {
	padding: 55px 50px !important;
	width: auto !important;
}

.tb-product-box .product-box img {
	width: auto !important;
	object-fit: cover;
	height: 150px;
	padding-bottom: 0px !important;
}

.tb-product-box {
	background: #F9F9F9;
	border-radius: 30px;
}

.product-content {
	padding: 20px;
}

.cat-badge {
	font-size: 14px;
	color: #F78427;
	letter-spacing: 0;
}

.salt-in-product {
	font-size: 14px;
	color: #4F4F4F;
	letter-spacing: 0;
	margin-bottom: 5px;
	margin-top: 5px;
}

.product-content h3 {
	margin-bottom: 5px;
}

.tb-product-box .text {
	font-size: 14px;
	color: #4F4F4F;
	letter-spacing: 0;
	line-height: 20px;
	margin-bottom: 10px;
}

.tb-product-box a {
	font-size: 14px;
	color: #4F4F4F;
	letter-spacing: 0;
	text-transform: uppercase;
}


/* Product Detials Page */

.text-breadcrumb {
	width: 100%;
	float: left;
	padding: 50px 0 50px;
}

.text-breadcrumb ul {
	padding-left: 0px;
	margin-bottom: 0px;
	list-style: none;
}

.text-breadcrumb ul li {
	display: inline-block;
	padding-right: 5px;
}

.text-breadcrumb ul li a {
	font-size: 15px;
	color: #000000;
	letter-spacing: 1.38px;
	line-height: 20px;
}

.text-breadcrumb ul li i {
	font-size: 15px;
	color: #9f9f9f;
	letter-spacing: 1.38px;
	line-height: 20px;
}

.product-detial {
	width: 100%;
	float: left;
}

.product-detial-img-box {
	background: #F6F6F6;
	border-radius: 8px;
	text-align: center;
	padding: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-detial-img-box img {
	max-width: 100%;
}

.product-info {
	padding-top: 25px;
}

.product-info h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 38px;
	color: #2C2C2C;
	letter-spacing: 0;
	font-weight: 700;
}

.product-info h6 {
	font-size: 18px;
	color: #F78427;
	letter-spacing: 0.5px;
	padding-top: 10px;
}

.product-info p {
	font-size: 16px;
	color: #4F4F4F;
	line-height: 24px;
}

.product-info p {
	font-size: 16px;
	color: #4F4F4F;
	line-height: 24px;
	padding-top: 10px;
	margin-bottom: 0px;
}

.feature-list {
	padding-top: 20px;
}

.other-products {
	padding-top: 100px;
	width: 100%;
	float: left;
}

.careousal-btn ul {
	padding-left: 0px;
	list-style: none;
	text-align: right;
}

.careousal-btn ul li {
	display: inline-block;
	padding-left: 20px;
}

.careousal-btn ul li img {
	height: 15px;
}

.other-products-owl {
	padding-top: 50px;
}

.other-products-owl .owl-nav .owl-prev {
	background-image: url(../img/arrow-left-green.png) !important;
	width: 46px;
	height: 23px;
	float: left;
	background-repeat: no-repeat !important;
	background-position: 100% 50% !important;
	background-size: 70% !important;
}

.other-products-owl .owl-nav .owl-next {
	background-image: url(../img/arrow-right-green.png) !important;
	width: 46px;
	height: 22px;
	float: right;
	background-repeat: no-repeat !important;
	background-position: 50% 100% !important;
}

.other-products-owl .owl-nav {
	margin-top: 10px;
	position: absolute;
	float: right;
	right: 0;
	top: -13%;
}

.other-products-owl .owl-nav [class*="owl-"]:hover {
	background-color: #fff !important;
	color: #FFF;
	text-decoration: none;
}

.other-products-owl .owl-nav span {
	visibility: hidden;
}


/* About US Page */

.section-biolife {
	width: 100%;
	float: left;
	padding-bottom: 70px;
}

.content p {
	font-size: 18px;
	color: #4F4F4F;
	line-height: 36px;
	margin-bottom: 10px;
	padding-right: 30px;
}


.slider_model .slider_list_box ul li a h5 {
	font-weight: inherit !important;
}

.welcome-section {
	float: left;
	width: 100%;
	position: relative;
	background-repeat: no-repeat !important;
	background-position: bottom;
	padding: 65px 0px;
	background-size: cover !important;
}
.white-overlay {
	background: rgba(255,255,255,0.7);
	padding: 100px 0px;
}

.about-logo {
	width: 100%;
	float: left;
	position: relative;
	height: 550px;
}

.horz-timeline-section {
	width: 100%;
	float: left;
}

.about-logo h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 40px;
	color: #2C2C2C;
	letter-spacing: 0;
	font-weight: 500;
}

.about-logo .content div {
	display: flex;
	align-items: center;
	height: 100%;
}

.logo-background-img {
	background: url("../img/video-bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 550px;
	width: 660px;
	position: absolute;
	right: -15%;
	border-radius: 10px;
}

.logo-white-bg {
	background: #FFFFFF;
	border-radius: 8px;
}

.logo-white-bg {
	background: #FFFFFF;
	border-radius: 8px;
	width: 630px;
	height: 380px;
	margin-top: 60px;
	margin-left: -65px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: -5px 0px 14px 0px rgba(227, 243, 255, 1);
}

.about-logo h3 {
	padding: 25px 10px 5px 25px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 32px;
}

.logo-white-bg img {
	height: 115px;
}

.real-value-section {
	width: 100%;
	float: left;
	padding: 100px 0px;
	position: relative;
	background: #F2FBFF;
	margin: 100px 0;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}
.real-value-overlay {

	padding: 50px 0px;
}
.real-value-section h3 {
	padding: 25px 0px 0px 65px !important;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 32px;
}

.real-value-section .logo-background-img {
	left: -10% !important;
}

.real-value-section .logo-white-bg img {
	height: 240px !important;
}

.real-value-section .logo-white-bg {
	margin-top: 60px;
	margin-left: 65px !important;
	box-shadow: 0px 0px 14px 5px rgba(227, 243, 255, 0.63) !important;
}

.real-value-section .text-vertical-center {
	display: flex;
	align-items: center;
	height: 550px;
}

.product-portfolio-section {
	width: 100%;
	float: left;
	padding: 100px 0px;
	background: #F6FCFF;
}

.portfolio-product-box {
	border-radius: 13px;
	margin: 0px 8px;
}

.portfolio-product-box h5 {
	font-size: 18px;
	color: #4F4F4F;
	text-align: center;
	padding-top: 10px;
}

.portfolio-product-box img {
	height: 150px;
	object-fit: cover;
	border-radius: 10px;
}

.know-future {
	width: 100%;
	float: left;
	margin: 100px 0px;
}


.future-box {
	background: url("../img/video-bg.png");
	background-repeat: repeat;
	background-size: auto;
	background-size: cover;
	background-repeat: no-repeat;
	height: 400px;
	border-radius: 5px;
	width: 660px;
	position: relative;
	margin-top: 80px;
}

.future-box img {
	max-width: 100%;
	margin-top: -30px;
	height: 400px;
	width: 600px;
	border-radius: 10px;
	object-fit: cover;
}

.mission-box {
	background: #EA3830 !important;
}

.vision-box h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	line-height: 60px;
	font-size: 32px;
	color: #fff;
	display: flex;
	height: 100%;
	align-items: center;
	margin-top: -7.5px;
}

.vision-box {
	background: #007044;
	padding: 30px;
	height: 100%;
	margin: 0 auto;
	z-index: 99999;
	text-align: left;
	box-shadow: 0 0 30px 0 #EAEAEA;
	border-radius: 35px;
	color: #fff;
}
.vision-box .icon-box img {
	height: 50px;
	padding-left: 15px;
	margin-bottom: 15px;
}
.our-values-section {
	width: 100%;
	float: left;
	position: relative;
	padding-top: 35px;
}

.pivot-text {
	padding-top: 40px;
	position: relative;
}

.pivot-text ul {
	list-style: none;
	padding-left: 0px;
}

.pivot-text ul li h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 65px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	/* padding-bottom: 18px; */
	text-align: center;
	margin: 0 auto;
	border-radius: 8px;
	height: 100px;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0px;
}

.our-values-section .cat-btn-list .nav-link {
	background: #FFFFFF;
	/* border: 4px dotted #F4F4F4; */
	border-radius: 17px;
	font-size: 16px;
	color: #4F4F4F !important;
	letter-spacing: 0;
	margin-top: 40px;
	padding: 15px 10px;
	height: 65px;
	width: 170px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
}

.pivot-desc-text {
	padding-top: 15px;
}

.pivot-desc-text ul {
	padding-left: 0px;
	list-style: none;
	margin-bottom: 0px;
}
.pivot-text ul li {
	display: inline-block;
	width: 19.7%;
}
.btn-values {
	background: #FFFFFF;
	/* border: 4px dotted #F4F4F4; */
	border-radius: 17px;
	font-size: 18px;
	color: #4F4F4F !important;
	letter-spacing: 0;
	margin-top: 40px;
	/* padding: 15px 10px;
	height: 65px;
	width: 170px;*/
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	margin: 0 auto;
}
.pivot-desc-text ul li {
	font-size: 14px;
	color: #4F4F4F;
	display: inline-block;
	width: 19.7%;
	text-align: center;
	padding: 0px 25px;
}
.pivot-desc-text ul li p {
	height: 100%;
	display: flex;
	align-items: start;
	margin-bottom: 0px;
}

.leaf-image-left img {
	height: 600px;
	position: absolute;
	left: -26%;
	margin-top: 15%;
}

.happenings-section {
	width: 100%;
	float: left;
	padding: 75px 0px 0px;
}

.happenings-owl {
	padding-top: 40px;
}

.happenings-box {
	background: #FFFFFF;

	padding: 0;
	height: 100%;
	margin: 15px;
}

.happenings-box img {
	max-width: 100%;
	height: 280px;
	border-radius: 35px;
	width: 380px;
	object-fit: cover;
}

.happenings-box h4 {
	font-family: 'Raleway', sans-serif;
	 font-weight: 600;
	font-size: 28px;
	color: #2C2C2C;
	line-height: 20px;
	padding: 30px 15px 0 15px;
	font-weight: bold;
}

.happenings-box a {
	font-size: 15px;
	color: #9AD055 !important;
	line-height: 25px;
	padding-left: 15px;
}
.h-arrow-img {
	height: 15px !important;
	width: 22px !important;
	display: inline-block !important;
	margin-right: 10px;
}
.abou-us-left-img img {
	max-width: 100%;
	height: 510px;
	width: 100%;
	object-fit: cover;
	border-radius: 8px;
}
.mt-160 {
	margin-top: 80px;
}


/* values page css start */

.passion-section {
	width: 100%;
	float: left;
	padding-top: 100px;
}

.img-box img {
	max-width: 100%;
	border-radius: 10px;
}
.btn.focus, .btn:focus {
	outline: 0;
	box-shadow: unset;
}

.value-creation-section {
	width: 100%;
	float: left;
	background: url("../img/value-creation-bg.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 100px 0px;
	padding: 100px 0px;
	background-position: 100% 35%;
}

.value-creation-white-box {
	background: #fff;
	border-radius: 10px;
	padding: 50px;
}

.ownership-section {
	width: 100%;
	float: left;
}

.ownership-section .future-box {
	margin-top: 30px;
	width: 100%;
	padding: 10px 15px 0px 0px;
}

.ownership-section .future-box img {
	max-width: 100%;
	margin-top: -30px;
	height: 400px;
	width: 100%;
	border-radius: 10px;
	object-fit: cover;
}

.ownership-content {
	padding-right: 75px;
}
.passion-section .sub-heading {
	font-size: 24px;
	line-height: 36px;
}
.value-creation-white-box  .sub-heading {
	font-size: 24px;
	line-height: 36px;
}

.ownership-section .sub-heading {
	font-size: 24px;
	line-height: 36px;
}

.trust-section .sub-heading {
	font-size: 24px;
line-height: 36px;
}
.trust-section {
	width: 100%;
	float: left;
	padding: 100px 0px 0px;
}

.trust-content {
	padding-left: 50px;
}

.trust-section .future-box img {
	max-width: 100%;
	margin-top: -30px;
	height: 400px;
	width: 100%;
	border-radius: 10px;
	object-fit: cover;
}

.trust-section .future-box {
	margin-top: 30px;
	width: 100%;
	padding: 0px 0px 15px 15px;
	float: right;
}


/* happening page css */

.happening-page-owl {
	padding-top: 20px;
}

.happening-img-box img {
	background: #FFFFFF;
	box-shadow: 0 0 30px 0 #EAEAEA;
	border-radius: 35px;
	height: 360px;
	object-fit: cover;
}

.happening-img-box {
	padding: 25px;
}

.happening-page-owl .owl-nav .owl-prev {
	background-image: url(../img/arrow-left-green.png) !important;
	width: 46px;
	height: 23px;
	float: left;
	background-repeat: no-repeat !important;
	background-position: 100% 50% !important;
	background-size: 70% !important;
}

.happening-page-owl .owl-nav .owl-next {
	background-image: url(../img/arrow-right-green.png) !important;
	width: 46px;
	height: 22px;
	float: right;
	background-repeat: no-repeat !important;
	background-position: 50% 100% !important;
}

.happening-page-owl .owl-nav {
	margin-top: 10px;
	position: absolute;
	float: right;
	right: 0;
	top: -13%;
}

.happening-page-owl .owl-nav [class*="owl-"]:hover {
	background-color: #fff !important;
	color: #FFF;
	text-decoration: none;
}

.happening-page-owl .owl-nav span {
	visibility: hidden;
}

.nav-item:hover .dropdown-menu {
	display: block !important;
}

.menu-show-plus {
	display: none !important;
	cursor: pointer;
}


/* contact us page css */

.map-section {
	width: 100%;
	float: left;
}

.contact-details {
	width: 100%;
	float: left;
	margin-top: -150px;
}

.contact-details-box {
	background: #FFFFFF;
	box-shadow: -1px 15px 20px 0 #F2F2F2;
	border-radius: 40px;
	padding: 40px 0px;
}

.contact-details-box .nav .nav-item a {
	background: transparent;
	color: #000;
	text-transform: uppercase;
	width: 100px;
	border-radius: 0px;
	margin: 0px 40px;
	text-align: center;
	font-size: 17px;
	line-height: 25px;
	padding: 10px 0px 25px;
}

.contact-details-box .nav .nav-item a:hover {
	color: #F78427;
}

.contact-details-box .nav .nav-item .active {
	border-bottom: 2px solid #f89341;
	color: #F78427;
}

.contact-details-box ul {
	border-bottom: 1px solid #eee;
}

.contact-details-box .tab-content {
	padding: 15px 80px;
}

.social-reach-list {
	border: none !important;
	list-style: none;
	padding: 0;
}

.social-reach-list li {
	padding-bottom: 5px;
}

.social-reach-list li img {
	height: 20px;
}

.social-reach-list li span {
	font-size: 16px;
	color: #4F4F4F;
	padding-left: 10px;
}

.reach-contact {
	border: none !important;
	list-style: none;
	padding: 0;
}

.reach-contact li {
	padding-bottom: 5px;
}

.reach-contact li a {
	font-size: 16px;
	color: #4F4F4F;
}

.contact-us-form {
	width: 100%;
	float: left;
	padding: 100px 0px;
}

.contact-us-form input {
	background: #F8F8F8;
	border: unset;
	height: 50px;
	border-radius: 5px;
	padding-left: 20px;
}

.contact-us-form textarea {
	background: #F8F8F8;
	border: unset;
	border-radius: 5px;
	padding-left: 20px;
}

.about-home-section {
	width: 100%;
	float: left;
	padding: 100px 0px;
}

.products-table-section {
	width: 100%;
	float: left;
	padding: 75px 0;
}

.products-table-section a {}

.orange-text {
	color: #F78427;
}

.table td, .table th {
	padding: 18px !important;
}

.green-text {
	color: #007a4c;
}

.light-green-text {
	color: #a2d45e;
}

.red-text {
	color: #e1251b;
}

.header-black {
	position: relative !important;
	background: #2c2c2c;
}


/* journey page css */

.timeline {
	list-style: none;
	padding: 20px 0 20px;
	position: relative;
}

.timeline:before {
	top: -25px;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 3px;
	background-color: #f88d2a;
	left: 50%;
	margin-left: -1.5px;
	border-left: 25px;
}

.idea-panel h4 {
	font-size: 35px;
}

.idea-panel {
	margin-top: -2%;
}

.timeline>li {
	margin-bottom: 20px;
	position: relative;
 height: 150px;
}

.timeline .fa {
	font-size: 35px;
	position: absolute;
	rotate: unset;
	transform: rotate(-45deg);
}

.timeline>li:before,
.timeline>li:after {
	content: " ";
	display: table;
}

.timeline>li:after {
	clear: both;
}

.timeline>li:before,
.timeline>li:after {
	content: " ";
	display: table;
}

.timeline>li:after {
	clear: both;
}

.timeline>li>.timeline-panel {
	width: 46%;
	float: left;
	text-align: right;
	padding: 0px 20px 20px 20px;
	position: relative;
	margin-top: -5px;
}

.last::before {
	background-color: #c2c2c2;
}

.timeline>li>.timeline-badge {
	color: #fff;
	width: 55px;
	height: 55px;
	line-height: 50px;
	font-size: 1.4em;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 49.8%;
	margin-left: -25px;
	background-color: #f88d2a;
	z-index: 100;
	transform: rotate(45deg);
	border-radius: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	top: -15px;
}

.lorem {
	font-size: 25px !important;
	width: 50%;
	float: right;
}

.lorem-2 {
	font-size: 25px !important;
	width: 50%;
	text-align: left;
	margin-left: 19%;
}

.timeline>li.timeline-inverted>.timeline-panel {
	float: right;
	text-align: left;
	margin-top: -5px;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}

.timeline-badge.primary {
	background-color: #2e6da4 !important;
}

.idea-panel {}

.timeline-section {
	width: 100%;
	float: left;
	padding: 100px 0px;
}

.timeline-title {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 40px;
	color: #2C2C2C;
	letter-spacing: 0;
	line-height: 60px;
	font-weight: 500;
	margin-top: 0px;
}

.timeline-body>p,
.timeline-body>ul {
	margin-bottom: 0;
	font-size: 15px;
	line-height: 25px;
	list-style: none;
}

.timeline-body>p+p {
	margin-top: 5px;
}


.product-listing-box {
   background: #fff;
	 padding: 25px;
	 box-shadow: -3px 3px 42px 3px
rgba(227, 243, 255, 1);
border-radius: 5px;
}

.product-listing-box h4 {

}

.product-listing-box ul {
	list-style: none;
	padding-left: 0px;
}

.product-listing-box ul li {
	padding: 6px 0px;
}

.product-listing-box ul li a {
	color: #2c2c2c;
	font-size: 14px;
}
.collage-image img {
	max-width: 100%;
	height: 600px;
	object-fit: cover;
}
.collage-img img {
	max-width: 97%;
	padding-right: 0px;
	margin: 4px -6px 2px -20px;
	border-radius: 10px !important;
	object-fit: cover;
}
.real-value-logo img {
  margin: 0 auto;
	display: none !important;
}

.category-content .main-small-heading {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 30px;
	color: #2C2C2C;
	letter-spacing: 0;
	line-height: 40px;
	font-weight: 500;
}
.category-content {
	background: rgba(255,255,255,0.9);
	padding: 30px;
	border-radius: 10px 10px 0px 0px;
	text-align: center;
}
.category-content-position {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0px;
}
.category-section .owl-dots {
	position: absolute;
	bottom: 5px;
	right: 0px;
	left: 0px;
}

.fp-icon {
	height: 20px;
	margin-right: 4px;
	position: absolute;
	left: 20px;
	margin-top: 5px;
}

.products-table-section table td a {
	color: #2c2c2c;
}

.bs-icon {
	height: 20px;
	margin-left: 10px;
	position: absolute;
	left: 20px;
	margin-top: 5px;
}
.left-10-minus {
	left: -10%;
}

.fp-link {
	color: #f88d2a;
	font-weight: 600;
	margin: 10px 0px;
	width: 100%;
	float: left;
	letter-spacing: 0.5px;
}

.timeline-badge p {
	transform: rotate(-45deg);
	font-size: 16px;
	margin: 0px 0px 2px 0px;
}

.right-side {
	text-align: left !important;
	left: 7%;
}

.list {
 list-style: outside;

}

 .list li {
 	line-height: 30px;
 	font-size: 15px;
 }
 .event-single-img img {
 	width: 95%;
 	height: 300px;
 	object-fit: cover;
 	border-radius: 10px;
 }

.event-box-1 h3 {
	font-size: 18px;
	padding-top: 15px;
	color: #2c2c2c;
}

.event-box-1 a {
color: #9ad055 !important
}
.category-section .background-image {
	height: 100vh;
	background-position: 48% !important;
}

.product-full-image {

}


.dropdown-item.active, .dropdown-item:active {
	background-color: transparent;
}
.dropdown-item:focus, .dropdown-item:hover {
		background-color: transparent;
}



.category-section .slider_model_box img {
	/* height: 100vh;
	width: 100%;
	object-fit: cover; */
	max-width: 100%;
}

.slider_model .slider_list_box ul li a p {
	display: none !important;
}
.slider_model .slider_list_box ul li a {
	display: block;
	padding: 10px 10px;
	font-size: .8em;
	text-decoration: none;
	color: #fff;
	height: 70px;
	display: flex;
	align-items: center;
}

.slider_model .slider_list_box ul li a h5 {
	padding: 4px 0;
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 0px;
}


.social-media-side ul {
	list-style: none;
	padding-left: 0px;
	margin-bottom: 0px;
}
.social-media-side ul li a img {
	height: 25px;
	margin-bottom: 15px;
}

.social-media-side {
	background: #fff;
	width: 40px;
	height: 170px;
	padding: 10px 7px;
	justify-content: center;
	display: flex;
	align-items: center;
	border-radius: 5px;
	position: absolute;
  z-index: 99;
	right: 0;
	top:36%;
	box-shadow: 0 0 10px 0 #EAEAEA;
}

.slider_model .slider_list_box {
	position: absolute;
	display: block;
	overflow: hidden;
	width: 15% !important;
	right: 0;
	top: auto !important;
	bottom: 5% !important;
	background-color: rgba(0, 0, 0, 0.6);
	height: 275px;
	border-radius: 10px 0px 0px 10px;
}

.slider_model .slider_list_box ul li {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5); !important;
}

.slider_model .slider_list_box ul li + li {
	border-top: unset !important;
}
.slider_model .ctrl_dot_box ul li a {
	width: 8px !important;
	height: 8px !important;
}
.slider_model .ctrl_dot_box ul li a.is_active {
	background-color: #a2d45e !important;
}
.footer-info {
	position: relative;
	left: -20px;
}

.footer-info img {
	height: 16px;
	opacity: 0.9;
}

.slider_list_box ul {
	margin: 0px !important;
}
.slider_model .slider_list_box ul li a.is_active {
	background-color: rgb(251, 150, 67, 0.5) !important;
}

.header-shadow {
	box-shadow: 0 2px 5px 0 rgba(187, 187, 187, 0.5);
	margin-bottom: 70px;
}

.real-brand-logo-about img {
	height: 200px;
	border-radius: 10px;
	background: #fff;
	padding: 50px;
	position: absolute;
	top: -50%;
	box-shadow: 2px 3px 7px 0 rgba(117, 117, 117, 0.3);
}
/* .pivot-btn-ul::before {
	opacity: 0.22;
	background-image: linear-gradient(152deg, #FFFFFF 6%, #9AD055 23%, #ACD873 72%, #FFFFFF 100%);
	border-radius: 30px;
	height: 5px;
	width: 100%;
	content: "";
	display: block;
	text-align: center;
	margin: 0 auto;
	z-index: -1;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 27px;
} */
.divider-section {
	width: 100%;
	float: left;
	padding: 100px 0px;
}
.divider-team-image img {
	width: 100%;
	height: 400px;
	object-fit: cover;
}

.about-logo-desc {
	width: 100%;
	float: left;
	padding: 100px 0px;
}

.about-logo-left img {
	height: 45px !important;
}

.horz-timeline-section {
	width: 100%;
	float: left;
	padding: 100px 0px !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background: #F88D2B;
}
.real-brand-logo-about h1 {
	font-size: 40px !important;
	margin-top: 5px;
	font-weight: bold !important;
}
.real-brand-logo-about h5 {
	margin-top: 15px;
}

.real-content-center .content p {
	font-size: 16px !important;
}

.real-content-center {
	display: flex;
	align-items: center;
	height: 100%;
}
.real-brand-logo-about {
	margin-top: 80px !important;
}
.real-content-center .sub-heading {
	padding-bottom: 15px;
	font-size: 24px;
	font-weight: bold;
}

.logo-define {
	margin: 0 auto;
	text-align: center;
}
.logo-define img {
	max-width: 75%;
}
.products-table-section .table-responsive {
	margin-left: 30px;
}

.career-section {
	width: 100%;
	float: left;
  padding-top: 75px;
}

.subscribe-box a {
	color: #2c2c2c;
}

.footer-bg-color {
	background: url("../img/footer-green-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}


/* about us new section */

.about-us-new-section {
	width: 100%;
	float: left;
	padding: 100px 0px;
}

.green-main-heading {
	font-size: 72px;
	color: #99CF54;
	letter-spacing: 0;
	font-weight: 900;
}

.green-main-heading span {
	color: #007044;
}

.about-us-new-section p {
	font-size: 22px;
	color: #151515;
	letter-spacing: 0.5px;
	line-height: 44px;
  text-align: justify;
}

.hover-abt-box {
	background: #FFFFFF;
	box-shadow: 0 0 18px 0 #EAEAEA;
	border-radius: 18px;
	margin-bottom: 15px;
	cursor: pointer;
	padding: 30px;
transition: all ease 0.3s;
animation-delay: 2s;
}

.hover-abt-box  img {
	height: 30px;
}
.hover-abt-box h4 {
	font-size: 28px;
	color: #2C2C2C;
	letter-spacing: 0;
	font-weight: bold;
	padding-top: 15px;
}
.hover-abt-box p {
	font-size: 14px;
	color: #4F4F4F;
	margin-bottom: 0px;
	letter-spacing: 0;
	line-height: 28px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	transition: all ease 0.3s;
}
.hover-active {
	text-overflow: unset !important;
white-space: break-spaces !important;
overflow: auto !important;
transition: all ease 0.3s;
}

.table tr {
	cursor: pointer;
}

.hover-abt-box:hover p {
	text-overflow: unset;
	white-space: break-spaces;
	overflow: auto;
transition: all ease 0.3s;
}

.hb-1:hover .hover-hide-2{
	display: none;
}


.youtube-video-section {
	width: 100%;
	float: left;
	background: url('../img/youtube-section-bg.png');
	padding: 100px 0px;
	background-repeat: no-repeat;
}


.video-content h1 {
	font-size: 44px;
	color: #FFFFFF;
	font-weight: bold;
}

.video-content p {
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 45px;
margin-bottom: 0px;
}

.video-content {
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 25px;
}


.isotope-gallery-section {
	width: 100%;
	float: left;
	padding: 100px 0 70px;
}

.isotope-img {
	position: relative;
}
.isotope-img h6 {
	font-size: 22px;
	color: #fff;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	top: 70%;
	display: none;
}

.isotope-overlay-440::before {
	content: '';
	position: absolute;
	height: 93%;
	width: 100%;
	right: 0;
	left: 0;
	z-index: 9;
	background: rgba(0,0,0,0.5);
	top: 0;
	display: none;
}

.isotope-overlay-310::before {
	content: '';
	position: absolute;
	height: 90%;
	width: 100%;
	right: 0;
	left: 0;
	z-index: 9;
	background: rgba(0,0,0,0.5);
	top: 0;
	display: none;
}

.isotope-overlay-375::before {
	content: '';
	position: absolute;
	height: 92%;
	width: 100%;
	right: 0;
	left: 0;
	z-index: 9;
	background: rgba(0,0,0,0.5);
	top: 0;
	display: none;
}

.isotope-overlay-240::before {
	content: '';
	position: absolute;
	height: 88%;
	width: 100%;
	right: 0;
	left: 0;
	z-index: 9;
	background: rgba(0,0,0,0.5);
	top: 0;
	display: none;
}

.isotope-img:hover .isotope-overlay-240::before {
	display: block;
}

.isotope-img:hover .isotope-overlay-375::before {
	display: block;
}

.isotope-img:hover .isotope-overlay-310::before {
	display: block;
}

.isotope-img:hover .isotope-overlay-440::before {
	display: block;
}

.isotope-img:hover h6  {
	display: block !important;
	z-index: 9999;
}
.isotope-img img {
	max-width: 100%;
	width: 100%;
	object-fit: cover;
	margin-bottom: 30px;
}

.h-440 {
	height: 400px;
}

.h-310 {
	height: 270px;
}

.h-375 {
	height: 335px;
}

.h-240 {
	height: 214px;
}


.ceo-ach-section {
	width: 100%;
	float: left;
}

.ceo-words {
	background-image: linear-gradient(160deg, #17875B 0%, #007044 92%);
	color: #fff;
	padding: 100px 80px;
	height: 100%;
}

.ceo-words h3 {
	font-size: 40px;
	color: #FFFFFF;
	font-weight: bold;
}

.ceo-words p {
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 40px;
	padding-top: 15px;
}

.ceo-ach-section span {
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0;
}

.ach-section {
	background-image: linear-gradient(160deg, #ED3D35 0%, #DD231B 92%);
	color: #fff;
	padding: 100px 80px;
	height: 100%;
}


.ach-section h3 {
	font-size: 40px;
	color: #FFFFFF;
	font-weight: bold;
}


.achievement-box {
	background: #FFFFFF;
	margin-top: 25px;
	border-radius: 22px;
	height: 335px !important;
	text-align: center;
	display: flex;
	justify-content: center;
	position: relative;
	padding: 115px 15px 80px;
}

.achievement-box img {
	width: 84px !important;
	margin: 0 auto;
	margin-top: -50px !important;
}

.achievement-box h5 {
	font-weight: bold;
	font-size: 22px;
	color: #000000;
	letter-spacing: 0;
	text-align: center;
	padding-top: 15px;
}

.achievement-box p {
	font-weight: bold;
	font-size: 14px;
	color: #DD231B;
	letter-spacing: 0;
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
}



.ach-section-owl .owl-nav .owl-prev {
	background-image: url(../img/arrow-left.png) !important;
	width: 35px;
	height: 15px;
	float: left;
	background-repeat: no-repeat !important;
	background-position: 100% 50% !important;
	background-size: 70% !important;
	filter: brightness(0) invert(1);
}

.ach-section-owl .owl-nav .owl-next {
	background-image: url(../img/arrow-right.png) !important;
	width: 35px;
	height: 15px;
	float: right;
	background-repeat: no-repeat !important;
	background-position: 100% 50% !important;
	background-size: 70% !important;
	filter: brightness(0) invert(1);

}

.ach-section-owl .owl-nav {
	margin-top: 10px;
	position: absolute;
	float: right;
	right: 0;
	top: -13%;
}

.ach-section-owl .owl-nav [class*="owl-"]:hover {
	background-color: transparent !important;
	color: #FFF;
	text-decoration: none;
}

.ach-section-owl .owl-nav span {
	visibility: hidden;
}

.newsletter-section {
	width: 100%;
	float: left;
	padding: 100px 0px;
}

.pt-80 {
	padding-top: 80px;
}
.product-btn-list {
	list-style: none;
	padding-left: 0px;
}
.product-btn-list li{
	display: inline-block;
}
.product-btn-list li {
	display: inline-block;
	padding-right: 15px;
}

.btn-orange {
	border: 1px solid #F78427;
	background: transparent;
	color: #F78427;
	font-weight: bold;
	width: 150px;
	height: 55px;
}

.btn-orange:hover {
	border: 1px solid #F78427;
	background: #F78427;
	color: #fff;
}


.btn-light-green {
	border: 1px solid #9AD055;
	background: transparent;
	color: #9AD055;
	font-weight: bold;
	width: 150px;
	height: 55px;
}

.btn-light-green:hover {
	border: 1px solid #9AD055;
	background: #9AD055;
	color: #fff;
}

.btn-red {
	border: 1px solid #DD231B;
	background: transparent;
	color: #DD231B;
	font-weight: bold;
	width: 150px;
	height: 55px;
}

.btn-red:hover {
	border: 1px solid #DD231B;
	background: #DD231B;
	color: #fff;
}


.btn-dark-green {
	border: 1px solid #007044;
	background: transparent;
	color: #007044;
	font-weight: bold;
	width: 150px;
	height: 55px;
}

.btn-dark-green:hover {
	border: 1px solid #007044;
	background: #007044;
	color: #fff;
}

.search-field {
	position: relative;
	margin-top: 25px;
}
.search-field img {
	position: absolute;
	height: 20px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}
.content-list p {
	position: relative;
	left: 15px;
}
.content-list p::before {
	content: "";
	background:#000;
	height: 5px;
	width: 5px;
	position: absolute;
	top: 15px;
	left: -15px;
	border-radius: 30px;
}
.hb-2 img {
	height: 37px;
}

.product-preview {
	position: fixed;
	right: 3%;
	width: 30%;
}
