

#timeline {
	width: 100%;
	height: auto;
	overflow: hidden;
  margin-top: 25px;
	position: relative;
}
      #dates {
      width: 800px;
      height: 60px;
      overflow: hidden;
      margin: 0 auto !important;
      padding-left: 18.5%;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
			filter: brightness(0) invert(1);
      background: url('../img/timeline/dot.gif') 45px repeat-x;
      background-position: bottom !important;
      width: 100% !important;
      z-index: 9999;
      }
      #dates li {
        list-style: none;
        float: left;
        width: 150px;
        height: 50px;
        font-size: 24px;
				filter: brightness(0) invert(1);
        text-align: center;
        background: url('../img/timeline/biggerdot.png') center bottom no-repeat;
      }
        #dates a {
          line-height: 38px;
          padding-bottom: 10px;
          color: #fff !important;
        }
        #dates .selected {
          font-size: 38px;
          color:#fff !important;
        }

    #issues {
      width: 94.5vw;
      height: 500px;
      overflow: hidden;
    }
      #issues li {
        width: 92.5vw;
        height: 350px;
        list-style: none;
        float: left;
      }
			#issues li.selected img {
					-webkit-transform: scale(1.1,1.1);
					transform: scale(1.1,1.1);
					max-width: 65% !important;
					height: 115px;
					object-fit: contain;
					margin-top: 25px;
					}
        #issues li img {
          float: left;
          margin: 10px 30px 10px 50px;
          background: transparent;
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */
          zoom: 1;
          -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
          -webkit-transform: scale(0.7,0.7);
          transform: scale(0.7,0.7);
        }

        #issues li h1 {
          color: #fff !important;
          font-size: 48px;
          margin: 20px 0;

        }
        #issues li p {
          font-size: 16px;
          font-weight: normal;
          line-height: 22px;
          position: relative;
          left: 2%;
					margin-bottom: 10px;
          text-align: left;
					color: #fff !important;
        }
				#issues li p::before {
					content: "";
					background: #fff;
					height: 5px;
					width: 5px;
					position: absolute;
					top: 10px;
					left: -15px;
					border-radius: 30px;
				}

    #grad_left,
    #grad_right {
      width: 100px;
      height: 350px;
      position: absolute;
      top: 0;
    }


    #next,
    #prev {
      position: absolute;
      top: 125px;
      width: 55px;
      height: 30px;
      background-position: 0 0;
      background-repeat: no-repeat;
      overflow: hidden;
      background-size: 30px;
    }

      #next {
        right: -25px;
        background-image: url('../img/arrow-right.png');
      }
      #prev {
        left: 0;
        background-image: url('../img/arrow-left.png');
      }


			.timeline-content-adjust {

			}
